/* LAYOUT */

html * {box-sizing: border-box;}

body {
  overflow-x: hidden;
  width: 100vw;
  width: 100svw;
}

header {position: relative;}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header-logo {
  width: 150px;
  height: 130px;
  margin-bottom: -60px;
  position: relative;
  z-index: 10;
}

header .content.flex {
  justify-content: space-between;
}

.hero {min-height: 85vh;}

.btn-wrapper {
  margin-top: 30px;
}

table, .inside-pg td {border: 5px solid #fff;}

table {
  background: #96adcf29;
  border-radius: 30px;
}

.inside-pg td {
  padding: 30px;
  font-family: monospace;
  font-size: 18px;
}

td strong {
  font-weight: 700;
}

.mt-60 {margin-top: 60px;}

/* Default */
nav li {list-style: none;}

.hero {
  background-image: url(/assets/gm-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  position: relative;
}

.hero-title {
  width: clamp(310px, 85%, 1440px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 25vh;
  bottom: 25svh;
}

.btn {
  font-family: monospace, sans-serif;
  font-size: clamp(18px, 1vw + 1rem, 1.5rem);
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 2px solid #1B335F;
  display: block;
  width: fit-content;
  text-align: center;
}

.btn.primary-btn {
  color: #fff;
  background-color: #1B335F;
}

.btn.primary-btn:hover {
  background: #96ADCF;
  color: #1B335F;
  border-color: #96ADCF;
  cursor: pointer;
}

.btn.secondary-btn {
  color: #1B335F;
  background: transparent;
}

.btn.secondary-btn:hover {
  background-color: #96ADCF;
  border-color: #96ADCF;
  color: #1B335F;
}

.center-btn {margin: 0 auto;}

.inside-pg .btn {font-size: clamp(11px, .5vw + 1rem, 1rem);}

.hp-section {padding: 80px 0;}

.section-title h2 span {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body footer {
  background: #1B335F;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-family: Helvitica, sans-serif;
  letter-spacing: 1px;
}

body footer a {color: #fff;}

.photo img {
  width: 100%;
  height: auto;
}

.cse .photo {
  max-width: 280px;
}

.cse .flex {
  justify-content: space-around;
}

.inside-pg {
  min-height: 87vh;
  min-height: 87svh;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 30%);
}

.inside-pg .left {
  height: 100%;
  padding: 120px 60px 80px;
}

.menu-list {margin-top: 60px;}

.menu-list .menu-item {
  display: block;
  padding: 10px 20px 10px 60px;
  background: #96ADCF;
  color: #fff;
  border-radius: 10px;
  max-width: 600px;
  position: relative;
}

.menu-list .menu-item:hover {
  background: #1B335F;
}

.menu-list .menu-item:not(:last-child) {margin-bottom: 10px;}

.menu-list .menu-item:before {
  content: '';
  height: 10px;
  aspect-ratio: 1;
  background: #ffF;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}

.score-container {
  padding: 10px;
  border: 2px solid #1B335F;
  width: fit-content;
}

.sidebar-ads {
  padding: 30px 5px;
}

.sidebar-ads .ad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-pg.flex {align-items: flex-start;}

.ad {margin-top: 60px;}

@media (max-width: 1366px) {
  .hero-title {
    bottom: 15vh;
    bottom: 15svh;
  }
}

@media (max-width: 991px) {
  .section-title h2 span {font-size: 16px;}
}

@media (max-width: 600px) {
  .inside-pg {grid-template-columns: 1fr;}
  .ad:first-child {margin-top: 10px;}
  .inside-pg .left {padding-bottom: 10px;}
}

@media (max-width: 550px) {
  .btn-wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .cse .flex {
    flex-direction: column-reverse;
    align-items: center;
  }

  .cse .section-title h2, .cse p {
    text-align: center;
  }

  .cse .btn {margin: 0 auto;}

  .cta-container {flex-direction: column;}
}

/* Fonts / Texts */

@font-face{font-family:RocaOne-It;src:url('/assets/fonts/RocaOne-It.woff2') format('woff2'),url('/assets/fonts/RocaOne-It.woff') format('woff');font-weight:400;font-style:italic;font-display:swap}@font-face{font-family:RocaOne-Hv;src:url('/assets/fonts/RocaOne-Hv.woff2') format('woff2'),url('/assets/fonts/RocaOne-Hv.woff') format('woff');font-weight:900;font-style:normal;font-display:swap}@font-face{font-family:RocaOne-Rg;src:url('/assets/fonts/RocaOne-Rg.woff2') format('woff2'),url('/assets/fonts/RocaOne-Rg.woff') format('woff');font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:RocaOne-HvIt;src:url('/assets/fonts/RocaOne-HvIt.woff2') format('woff2'),url('/assets/fonts/RocaOne-HvIt.woff') format('woff');font-weight:900;font-style:italic;font-display:swap}@font-face{font-family:RocaOne;src:url('/assets/fonts/RocaOne-Bold.woff2') format('woff2'),url('/assets/fonts/RocaOne-Bold.woff') format('woff');font-weight:700;font-style:normal;font-display:swap}@font-face{font-family:RocaOne-BdIt;src:url('/assets/fonts/RocaOne-BdIt.woff2') format('woff2'),url('/assets/fonts/RocaOne-BdIt.woff') format('woff');font-weight:700;font-style:italic;font-display:swap}@font-face{font-family:RocaOne-Bl;src:url('/assets/fonts/RocaOne-Bl.woff2') format('woff2'),url('/assets/fonts/RocaOne-Bl.woff') format('woff');font-weight:900;font-style:normal;font-display:swap}@font-face{font-family:RocaOne-BlIt;src:url('/assets/fonts/RocaOne-BlIt.woff2') format('woff2'),url('/assets/fonts/RocaOne-BlIt.woff') format('woff');font-weight:900;font-style:italic;font-display:swap}@font-face{font-family:RocaOne-ThIt;src:url('/assets/fonts/RocaOne-ThIt.woff2') format('woff2'),url('/assets/fonts/RocaOne-ThIt.woff') format('woff');font-weight:100;font-style:italic;font-display:swap}@font-face{font-family:RocaOne-Th;src:url('RocaOne-Th.woff2') format('woff2'),url('RocaOne-Th.woff') format('woff');font-weight:100;font-style:normal;font-display:swap}@font-face{font-family:RocaOne-LtIt;src:url('RocaOne-LtIt.woff2') format('woff2'),url('RocaOne-LtIt.woff') format('woff');font-weight:300;font-style:italic;font-display:swap}@font-face{font-family:RocaOne-Lt;src:url('RocaOne-Lt.woff2') format('woff2'),url('RocaOne-Lt.woff') format('woff');font-weight:300;font-style:normal;font-display:swap}

.hero-title h1 {
  font-size: clamp(2.5rem, 5vw + 1rem, 8rem);
  font-family: 'RocaOne-Rg', serif;
  text-align: center;
  margin-bottom: 15px;
}

.hero-title h2 {
  font-family: monospace, sans-serif;
  font-size: clamp(18px, 1vw + 1rem, 1.5rem);
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
}

h1 strong, p strong {font-weight: 600;}

.inside-pg h1 {
  font-family: 'RocaOne-Rg';
  font-size: clamp(2.5rem, 2vw + 1rem, 4rem);
  margin-bottom: 30px;
}

.inside-pg h1, .inside-pg h2, .inside-pg h3 {color: #1B335F;}

.inside-pg h2, .inside-pg h3 {margin-top: 60px;}

.inside-pg h2 {
  font-size: clamp(1.5rem, 1.5vw + 1rem, 2rem);
  font-family: 'RocaOne-Rg', serif;
  margin-bottom: 10px;
}

.inside-pg h3 {
  font-size: clamp(1.5rem, .5vw + 1rem, 2rem);
  font-family: monospace, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 10px;
}

.inside-pg h4 {
  font-size: 22px;
  font-weight: 600;
  font-family: 'RocaOne-Rg';
  color: #1B335F;
  margin-top: 30px;
  margin-bottom: 10px;
}

a {text-decoration: none;}

div a, div p, div li {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
}

div li {line-height: 25px;}

div p, .inside-pg ul, .inside-pg ol {
  line-height: 20px;
  margin-bottom: 15px;
}

.inside-pg ul, .inside-pg ol {
  padding-left: 30px;
}

.inside-pg li:not(:last-child) {
  margin-bottom: 15px;
}

h1 {font-family: 'RocaOne-Rg';}

.section-title h2 {
  font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
  font-family: 'RocaOne-Rg', serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section-title {margin-bottom: 60px;}

.inside-pg em {font-weight: 600;}

.quiz-instructions {margin-bottom: 60px;}

.cta-container.flex {
  gap: 10px;
  margin-top: 60px;
  transition: all 300ms ease-in-out;
}

.hidden-animate {
  transition: all 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.hidden-animate.show {
  opacity: 1;
  pointer-events: unset;
}

.question-block {
  padding: 30px;
  border: 2px solid #1B335F;
  margin-bottom: 30px;
}

.question-block p {color: #1B335F;}

.question-block .option {
  padding: 10px;
  background: #1B335F;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.question-block .option:not(:last-child) {margin-bottom: 15px;}

.question-block .option:hover {
  background: #96ADCF;
  color: #1B335F;
}

.question-block .option.selected {
  outline: 3px solid #1B335F;
  outline-offset: 5px;
}

.question-block .explanation {margin-top: 30px;}

.question-block.correct {background: #caffd0;}

.question-block.incorrect {background: #fd6c9c;}

.question-block.incorrect p {color: #fff;}

.question-block.correct .option, .question-block.incorrect .option {
  pointer-events: none;
}

@media (min-width: 40em) {
  div a, div p, div li {font-size: 1.2rem;}
  div p {line-height: 28px;}
}

@media (max-width: 1080px) {
  .hero-title h2 {font-size: 20px;}
}

/* Color */
header {
  background-color: #96ADCF;
}

nav a {
  color: #000;
  position: relative;
}

nav a:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  height: 1px;
  width: 0;
  background: #000;
  transition: all 300ms ease-in-out;
}

nav a:hover::before {width: 100%;}

.hero-title h1, .hero-title p {color: #1B335F;}

.welcome {
  background: rgb(27,51,95);
  background: linear-gradient(205deg, rgba(150,173,207,1) 0%, rgba(87,111,150,1) 15%, rgba(69,93,133,1) 30%, rgba(48,72,114,1) 45%, rgba(27,51,95,1) 100%);
}

.welcome h2, .welcome h3, .welcome p {
  color: #fff;
  text-align: center;
}

/* Main */

.hamburger {
  display: none;
  gap: 3px;
  flex-direction: column;
  align-items: flex-end;
  width: 23px;
  aspect-ratio: 1;
}

.bar {
  height: 3px;
  width: 20px;
  background-color: #1B335F;
  transition: all 300ms ease-in-out;
}

.hamburger.open .bar {background-color: #fff;}

.hamburger.open .bar2 {opacity: 0;}

.hamburger.open .bar1 {
  transform: rotate(45deg);
  position: absolute;
}

.hamburger.open .bar3 {
  transform: rotate(-45deg);
  position: absolute;
}

@media (max-width: 991px) {
  .hamburger {display: flex;}

  header nav {
    position: absolute;
    padding: 30px;
    top: 0;
    right: -10%;
    z-index: 2;
    background: transparent;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    height: 11px;
  }
  
  header nav.open {
    right: 0;
    background-color: #1B335F;
    overflow: unset;
    height: fit-content;
  }

  header nav ul.flex {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav li a {
    color: #fff;
  }
}